@tailwind base;
@tailwind components;
@tailwind utilities;

.btnShine {
    background-repeat: no-repeat;
    background-position: -340px 0;

    background-image: linear-gradient(
        65deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 32%,
        rgba(255, 255, 255, 0.8) 40%,
        rgba(255, 255, 255, 0) 56%
    );

    background-size: 300%;
    transition: background-position 0s ease;
    animation: shineEffect 2s forwards 1;
}

@keyframes shineEffect {
    from {
        background-position: -340px 0;
    }

    to {
        background-position: 340px 0;
    }
}
